#!/bin/bash
INDEX_FILE=index.ndx
#STRUCTURE
#PLEASE USE PDB OR GRO FILE
GRO_FILE=step7_pbc.pdb
#IF YOU USED A PDB FILE, PLEASE FILL IN THE NEXT VARIABLES
MDP_FILE=pull_TM.mdp
NUM_OF_DOMAINS=1
#DOMAIN INFO
#PLEASE ADD INFO TO THE FOLLOWING VARIABLES IN THE ORDER
#YOU WANT THEM TO BE PULLED/PUSHED
#INFO MUST BE SEPARATED BY SPACE
#MAKE SURE EACH ARRAY HAS THE SAME NUMBER OF ELEMENTS
#AND THE NUMBER MATCHES THE NUMBER OF DOMAINS
####
DOMAIN_NAMES=(TM)
DIRECTIONS=(push)
STARTS=(9.6)
TARGETS=(8.6)
K_MAX=(50)
####
#in fs?
EQ_TIME=

#SLURM VARIABLES
#CSC MAHTI

#format: hh:mm:ss
#for example 16:00:00 is 16 hours
TIME=
NODES=
NTASKS-PER-NODE=
MEMORY=
ACCOUNT
PARTITION